body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #343a40;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #ffffff;
}

.navbar .btn {
    margin-left: auto;
}

.container {
    margin-top: 20px;
}

h2 {
    color: #343a40;
    margin-bottom: 20px;
    text-align: center;
}

#historyList {
    list-style-type: none;
    padding: 0;
}

.list-group-item {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

/* Hover effect untuk item daftar */
.list-group-item:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Efek gradient */
.list-group-item:nth-child(odd) {
    background: linear-gradient(135deg, #e0eaff 0%, #ffffff 100%);
}

.list-group-item:nth-child(even) {
    background: linear-gradient(135deg, #ffffff 0%, #e0eaff 100%);
}

/* Styling untuk tanggal dan waktu */

.date-time {
    font-size: 0.9rem;
    color: #000000;
    margin-left: 875px;
}

/* Bold styling for values */
.bold {
    font-weight: bold;
}

/* Responsive design */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.25rem;
    }
    
    .list-group-item {
        padding: 10px;
    }
}
