.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.kartu {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.kartu:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.gambar {
  display: flex;
  height: 80%;
  width: 95%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 8px;
  border-radius: 5px;
}

.common {
  background-color: grey;
}

.common img {
  width: 95%;
  height: 100%;
}

.common .card-text p {
  text-align: center;
  color: white;
}

.rare {
  background-color: rgb(51, 51, 241);
}

.rare img {
  width: 95%;
  height: 100%;
}

.rare .card-text p {
  text-align: center;
  color: white;
}

.sr {
  background-color: purple;
}

.sr img {
  width: 95%;
  height: 100%;
}

.sr .card-text p {
  text-align: center;
  color: white;
}

.ssr {
  background-color: orange;
}

.ssr img {
  width: 95%;
  height: 100%;
}

.ssr .card-text p {
  text-align: center;
  color: black;
}


/* Untuk page TopUp */
.container-topup {
  background: #ffffff;
  padding: 20px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  text-align: center;
}

#topupSection {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card-topup {
  width: 45%;
  padding: 25px;
  margin: 10px;
  border: 2px solid #0d6efd;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.card-topup h3 {
  margin: 0;
}

.card-topup:hover {
  background-color: #0d6efd;
  color: white;
}

.card-topup.selected {
  background-color: #0d6efd;
  color: white;
  border-color: #0d6efd;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-common {
  display: inline-block;
  width: 45%;
  padding: 12px 20px;
  border: none;
  color: white !important;
  border-radius: 30px !important; /*force*/
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

#topupBtn {
  background-color: #0d6efd;
}

#topupBtn:hover {
  background-color: #0b5ed7;
}

.btn-cancel {
  background-color: #dc3545;
}

.btn-cancel:hover {
  background-color: #c82333;
}
/* Untuk page TopUp */


/* #topupBtn{
  display: inline-block;
  width: 45%;
  padding: 12px 20px;
  border: none;
  color: white !important;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
} */
